

* {
    margin: 0;
    padding: 0;
}

body {
    background: #55a7e044;
}

#selection {
    display: block;
    position: absolute;
    width: 9%;
    height: 9%;
    max-width: 60px;
}

#selection > .payload {
    display: block;
    position: absolute;
    width: 60%;
    bottom: 0;
    right: 0;
}

.field {
    padding: 20px;
    font-size: 0;
    max-width: 600px;
}

.row {
    display: flex;
    justify-content:center;
    align-items:center;
}
.place {
    width: 100%;  
    border: 0px solid #fff0;
    position: relative;
    transition: all 0.5s;
}


.tile > img {
    border: 1px solid #fff0;
    border-radius: 5%;
    box-sizing: border-box;
}


.item {
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    opacity: 1;
    z-index: 1;
}


.multi {
    opacity: 0,5;
}


img{
    width: 100%;
}

.Pirate {
    width: 70%;
    z-index: 3;
}

.Ship {
    z-index: 1;
}

.Coin {
    width: 30%;
    bottom: 0;
    z-index: 1;
}

.Chest {
    width: 50%;
    right: 0;
    top: 0;
}

.whirl {
    width: 50%;
}


.selected {
    bottom: 18%;
    width: 90%;
    z-index: 10;
}



.hidden {
    opacity: 0;
    width: 0;
    height: 0;
}

.rotate1 > img{
    transform: rotate(90deg) ;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg) ;
  }
.rotate2 > img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
.rotate3 > img {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
  }